<div *ngIf="!showTitleAsIndustry; else noProjects" class="project-card-container container-fluid">
    <div class="row row-cols-1 row-cols-md-3 custom-gutter">
        <div class="col" *ngFor="let project of projects" (click)="navigateToProject(project.documentId)"
            (keydown)="onKeyDown($event, project.documentId)" (mouseenter)="onMouseEnterTitle($event)"
            (mouseleave)="onMouseLeaveTitle($event)">
            <!-- Image -->
            <div class="image-wrapper">
                <img [src]="project.thumbnail_image.url" [alt]="project.project_title" loading="lazy"
                    (load)="onImageLoad()" />
            </div>
            <!-- Title -->
            <div class="title-wrapper">
                <p *ngIf="!showTitleAsIndustry" class="title">{{ project.project_title | titlecase }}</p>
            </div>
        </div>
    </div>
</div>

<div *ngIf="showTitleAsIndustry; else noProjects" class="container-fluid">
    <div class="custom-gutter">
        <div *ngFor="let project of projects">
            <div class="card-container" [routerLink]="['/projects', project.industry]">
                <!-- Image -->
                <div class="image-wrapper">
                    <img [src]="project.thumbnail_image.url" [alt]="project.project_title" loading="lazy"
                        (load)="onImageLoad()" />
                </div>
                <!-- Title -->
                <div class="title-wrapper">
                    <p *ngIf="showTitleAsIndustry" class="title">{{ project.industry | titlecase }}</p>
                </div>
            </div>
        </div>
    </div>
</div>

<ng-template #noProjects>
    <!-- <p>No projects available.</p> -->
</ng-template>