<div class='w-100 m-0' id="pageTop">
    <!-- Title -->
    <h1>
        {{ 'articles.title-bf' | translate }} & {{ 'articles.title-af' | translate }}
    </h1>
    <!-- Sorting buttons -->
    <div class="sort-button-container">
        <button class="sort-button" (click)="sortProjects('article')"
            [ngClass]="{'selected': (selectedFilter$ | async) === 'article'}">
            Articles
            <i class="bi" [ngClass]="{
                    'bi-chevron-down': (selectedFilter$ | async) !== 'article',
                    'bi-x': (selectedFilter$ | async) === 'article'
                }"></i>
        </button>
        <button class="sort-button" (click)="sortProjects('news')"
            [ngClass]="{'selected': (selectedFilter$ | async) === 'news'}">
            News
            <i class="bi" [ngClass]="{
                    'bi-chevron-down': (selectedFilter$ | async) !== 'news',
                    'bi-x': (selectedFilter$ | async) === 'news'
                }"></i>
        </button>
        <button class="sort-button" (click)="sortProjects('blog')"
            [ngClass]="{'selected': (selectedFilter$ | async) === 'blog'}">
            Work
            <i class="bi" [ngClass]="{
                    'bi-chevron-down': (selectedFilter$ | async) !== 'blog',
                    'bi-x': (selectedFilter$ | async) === 'blog'
                }"></i>
        </button>
        <button class="sort-button" (click)="sortProjects('all')"
            [ngClass]="{'selected': (selectedFilter$ | async) === 'all'}">
            Clear filters
            <i class="bi bi-arrow-down-short"></i>
        </button>
    </div>
    <span class="separator"></span>
    <!-- Article cards -->
    <ng-container *ngIf="(articles$ | async) as articles">
        <app-article-card [articles]="articles"></app-article-card>
    </ng-container>
    <!-- Footer -->
    <div class="footer-button-wrapper">
        <button id="loadMoreButton" *ngIf="loadMoreButtonVisible" class="footer-button" (click)="loadMoreProjects()">
            Load more
            <i class="bi bi-arrow-down-short"></i>
        </button>
        <app-back-to-top-button></app-back-to-top-button>
    </div>
    <span class="separator"></span>

    <!-- Call to action -->
    <app-call-action></app-call-action>
</div>