<section class='w-100 m-0'>
    <!-- Title -->
    <h1>
        At Perpetua, we make beautiful<br />software, websites & apps
    </h1>
    <!-- Sorting buttons -->
    <div class="sort-button-container">
        <button class="sort-button">
            Software
            <i class="bi bi-chevron-down"></i>
        </button>
        <button class="sort-button">
            Websites
            <i class="bi bi-chevron-down"></i>
        </button>
        <button class="sort-button">
            Apps
            <i class="bi bi-chevron-down"></i>
        </button>
        <button class="sort-button">
            View all works
            <i class="bi bi-arrow-right-short"></i>
        </button>
    </div>
    <span class="separator"></span>
    <!-- Project cards -->
    <app-project-card></app-project-card>
    <!-- Footer -->
    <div class="footer-button-wrapper">
        <button class="footer-button">
            View all works
            <i class="bi bi-arrow-right-short"></i>
        </button>
    </div>
    <span class="separator"></span>




    <i class="bi bi-x"></i>
</section>