<section class='w-100 m-0'>
    <!-- Title -->
    <h1>
        {{ 'home.section.title.services-L1' | translate }}<br>
        {{ 'home.section.title.services-L2-bf' | translate }}
        <span *ngIf="currentLanguage === 'en'"> &#38; </span>
        {{ 'home.section.title.services-L2-af' | translate }}
    </h1>
    <!-- Service cards -->
    <app-service-card></app-service-card>
    <!-- Footer -->
    <div class="footer-button-wrapper" [routerLink]="['/services']">
        <button class="footer-button">
            Learn more
            <i class="bi bi-arrow-right-short"></i>
        </button>
    </div>
    <span class="separator"></span>
</section>