<section class='w-100 m-0'>
    <!-- Title -->
    <h1>
        We empower organisations with simple,<br />functional <span>&#38;</span> future-proof technology
    </h1>
    <!-- Service cards -->
    <app-service-card></app-service-card>
    <!-- Footer -->
    <div class="footer-button-wrapper" [routerLink]="['/services']">
        <button class="footer-button">
            Learn more
            <i class="bi bi-arrow-right-short"></i>
        </button>
    </div>
    <span class="separator"></span>
</section>