.main {
    width: 100%;
    min-height: 100%;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}

@media screen and (max-width: 650px) {
    .content {
        flex-direction: column;
        width: max-content;
    }
}

.header-container {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    width: 100%;
    height: 46px;
    margin: 0;
    padding: 3px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #0e0e01;

    .header-left {
        width: auto;
        display: flex;
        flex-direction: row;
        justify-content: start;
        align-items: center;

        .logo-wrapper {
            width: 40px;
            height: 40px;
            margin-left: 9px;
        }
    }

    .header-right {
        width: auto;
    }

}

.section-container {
    padding-top: 46px;
}