<style>
  .main {
    width: 100%;
    min-height: 100%;
    padding: 0;
    margin: 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
  }

  @media screen and (max-width: 650px) {
    .content {
      flex-direction: column;
      width: max-content;
    }
  }
</style>

<main class="main">
  <app-hero></app-hero>
  <app-projects></app-projects>
  <app-clients></app-clients>
  <app-team></app-team>
  <app-news></app-news>
  <app-call-action></app-call-action>
  <app-footer></app-footer>
</main>

<router-outlet />