<div class="lang-option-container" [ngClass]="{'bottom-lang-option': position === 'bottom'}"
    (mouseenter)="onMouseEnter()" (mouseleave)="onMouseLeave()">
    <i class="bi bi-chevron-left"></i>
    <form #languageForm action=''>
        <fieldset class="language-container">
            <div class="lang-options">
                <div class="lang-option" *ngFor="let lang of filteredLanguages">
                    <input [id]="lang.code" name="language" type="radio" [value]="lang.code" class="hidden-radio"
                        (change)="onLanguageChange(lang.label)" />
                    <label [for]="lang.code" class="radio-label">{{ lang.label }}</label>
                </div>
            </div>
        </fieldset>
    </form>
    <div class="current-lang-wrapper">
        <span class="current-lang">{{ selectedLanguage }}</span>
    </div>
</div>