<!-- Loading Skeleton -->
<div *ngIf="isLoading" class="slide-container">
    <app-slides-skeleton></app-slides-skeleton>
</div>

<!-- Images -->
<div *ngIf="!isLoading && slides.length > 0" id="carouselImages" class="carousel slide" data-bs-ride="carousel"
    data-bs-interval="5000">
    <div class="carousel-inner images-container">
        <div class="carousel-item" *ngFor="let slide of slides; let i = index" [ngClass]="{'active': i === 0}">
            <img [src]="slide.slide_image.url" alt="Slide {{ i + 1 }}" class="d-block w-100">
        </div>
    </div>
</div>

<!-- Title and Counter -->
<div *ngIf="!isLoading && slides.length > 0" id="carouselText" class="carousel slide carousel-fade header-container"
    data-bs-ride="carousel" data-bs-interval="5000">
    <div class="carousel-inner">
        <div class="carousel-item text-wrapper" *ngFor="let slide of slides; let i = index"
            [ngClass]="{'active': i === 0}">
            <p class="counter">{{ i + 1 }}</p>
            <p class="title">{{ slide.company_name }}</p>
        </div>
    </div>
    <!-- Shared Carousel Controls -->
    <button class="carousel-control-prev" type="button" (click)="controlCarousel('prev')">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" (click)="controlCarousel('next')">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>