.col,
p {
    padding: 0;
    margin: 0;
}

.image_wrapper {
    width: 100%;
    height: auto;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.office_info_container {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 10px 0;


    .office_info_left {
        width: 50%;

        .location {
            font-family: 'Sohne-500' !important;
            font-size: 2.25rem;
            color: #000000;
        }
    }

    .office_info_right {
        width: 50%;
    }
}