.col {
    padding: 0;
    margin: 0;
}

.image_wrapper {
    width: 100%;
    height: 569px;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.office_info_container {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 10px 0 70px 0;

    p {
        padding: 0;
        margin: 0;
    }


    .office_info_left {
        width: 269px;
        margin-right: 59px;
        font-family: 'Sohne' !important;
        color: #000000;


        .location-wrapper {
            width: auto;
            height: fit-content;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            font-family: 'Sohne-500' !important;
            font-size: 2.25rem;

            .location {
                margin: 0;
            }

            .location-icon {
                font-size: 3.25rem;
                transform: rotate(45deg);
                display: inline-block;
            }
        }

        .time {
            font-size: 1.75rem;
            margin: 16px 0 24px 0;

            .colon {
                animation: blink 1s infinite;
                vertical-align: 2px;
            }

            @keyframes blink {
                0% {
                    opacity: 1;
                }

                50% {
                    opacity: 0;
                }

                100% {
                    opacity: 1;
                }
            }
        }

        .email,
        .phone {
            font-size: 1.5rem;
            color: #0e0e01;
        }

        .email {
            text-decoration: underline;
        }
    }

    .office_info_right {
        width: 50%;
        margin-top: 10px;
        font-family: 'Sohne' !important;
        font-size: 1.5rem;
        color: #0e0e01;

        .direction-button-wrapper {
            width: 150px;
            height: 33px;
            margin-top: 35px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            color: #000000;
            border-bottom: 1px solid #000000;


            button {
                padding: 0;
                border: none;
                background-color: transparent;
            }

            .bi-arrow-right-short {
                font-size: 1.75rem;
                margin-left: 5px;
                padding-top: 5px;
                transition: transform 0.3s ease;
            }

            &:hover {
                border-bottom: 1px solid #a8a8a8;

                button {
                    color: #a8a8a8;
                }

                .bi-arrow-right-short {
                    transform: translateX(2px);
                    color: #a8a8a8;
                }
            }
        }
    }
}