<ng-container *ngIf="offices.length > 0">
    <div *ngFor="let office of offices" class="col">
        <div class="image_wrapper">
            <img [src]="office.office_image.url" [alt]="office.office_location">
        </div>
        <div class="office_info_container">
            <div class="office_info_left">
                <span class="location">{{ office.office_location }}</span><i class="bi bi-arrow-up-short"></i>
                <p *ngIf="office.currentTime" class="time">
                    {{ office.currentTime.split(':')[0] }} <!-- Hours -->
                    <span>:</span> <!-- Colon -->
                    {{ office.currentTime.split(':')[1].slice(0, 2) }} <!-- Minutes -->
                    <span>{{ office.currentTime.split(' ')[1] }}</span> <!-- AM/PM -->
                </p>
                <p>{{ office.email }}</p>
                <p>{{ office.phone }}</p>
            </div>
            <div class="office_info_right">
                @if (office.country !== 'Japan') {
                <p>{{ office.address_1 }}</p>
                <p>{{ office.address_2 }}</p>
                <p>{{ office.city }}, {{ office.post_code}}</p>
                <p>{{ office.country }}</p>
                } @else {
                <p>{{ office.address_1 }}, {{ office.address_2}}</p>
                <p>{{ office.ward }}, {{ office.city}}</p>
                <p>{{ office.prefecture }}, {{ office.post_code}}</p>
                <p>{{ office.country }}</p>
                }
                <div>
                    <button>Get directions</button>
                    <i class="bi bi-arrow-right-short"></i>
                </div>
            </div>
        </div>
    </div>
</ng-container>