<section class='w-100 m-0'>
    <!-- Header -->
    <div class='header-container'>
        <div class='header-left'>
            <!-- Logo -->
            <div class='logo-wrapper'>
                <app-logo></app-logo>
            </div>
            <!-- Header menu bar -->
            <div class="">
                <app-menu></app-menu>
            </div>
        </div>
        <!-- Language options -->
        <div class='header-right'>
            <app-languages></app-languages>
        </div>
    </div>

    <div class="slide-container">
        <app-slide-toggler></app-slide-toggler>
        <app-slides></app-slides>
    </div>
</section>