<div *ngIf="member" class="staff-card-container">
    <div class="image-wrapper">
        <img [src]="member.portrait_image.url" [alt]="member.first_name + ' ' + member.last_name">
    </div>
    <div class="name-role-wrapper">
        <p class="name">{{ member.first_name }}&nbsp;{{ member.last_name }}</p>
        <span class="role" *ngIf="filter === 'all'">{{ member.role }}&nbsp;&middot;&nbsp;</span>
        <span class="role" *ngIf="filter === 'office'">{{ member.role }}</span>
        <span class="role" *ngIf="filter === 'all' || filter === 'role'">{{ member.location }}</span>
    </div>
</div>

<ng-template #noSlides>
    <p>No slides available.</p>
</ng-template>