<div *ngIf="member" class="staff-card-container">
    <div class="image-wrapper">
        <img [src]="member.portrait_image.url" [alt]="member.first_name + ' ' + member.last_name">
    </div>
    <div class="name-role-wrapper">
        <p class="name">{{ member.first_name }}&nbsp;{{ member.last_name }}</p>
        <ng-template *ngIf="filter === 'all'">
            <span class="role">{{ member.role }}&nbsp;&middot;&nbsp;</span>
            <span class="role">{{ member.office_location.office_location }}</span>
        </ng-template>
        <ng-template *ngIf="filter === 'office'">
            <span class="role">{{ member.role }}</span>
        </ng-template>
        <ng-template *ngIf="filter === 'role'">
            <span class="role">{{ member.office_location.office_location }}</span>
        </ng-template>
    </div>
</div>

<ng-template #noSlides>
    <p>No slides available.</p>
</ng-template>