<section class='w-100 m-0'>
    <!-- Staff -->
    <div class="title-wrapper">
        <h1>
            Driven by a talented international team<br />spanning 3 countries⏤and counting
        </h1>
    </div>
    <app-staff-card [members]="members" [displayedMembers]="displayedMembers"></app-staff-card>
    <!-- Footer -->
    <div class=" footer-button-wrapper" [routerLink]="['/team']">
        <button class="footer-button">
            Meet the team
            <i class="bi bi-arrow-right-short"></i>
        </button>
    </div>
    <span class="separator"></span>
</section>