<section class='w-100 m-0'>
    <!-- Staff -->
    <div class="title-wrapper">
        <h1>
            {{ 'home.section-title.team-L1' | translate }}<br />
            {{ 'home.section-title.team-L2' | translate }}
        </h1>
    </div>
    <ng-container *ngIf="members.length > 0">
        <app-staff-card [members]="members"></app-staff-card>
    </ng-container>
    <!-- Footer -->
    <div class=" footer-button-wrapper" [routerLink]="['/team']">
        <button class="footer-button">
            {{ 'team.all' | translate }}
            <i class="bi bi-arrow-right-short"></i>
        </button>
    </div>
    <span class="separator"></span>
</section>