.team-container {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h1 {
        color: #000000;
        font-family: 'Sohne' !important;
        font-weight: 400;
        font-size: 2.25rem;
        margin: 80px 0;
    }
}

.footer-button-wrapper {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 80px;

    .footer-button {
        display: flex;
        justify-content: center;
        align-items: center;
        color: #0e0e01;
        margin-left: 120px;
        margin-right: 15px;
        border: none;
        background-color: transparent;
        font-family: 'Larsseit' !important;
        font-weight: 400;
        font-size: 1.125rem;

        i {
            font-size: 1.5rem;
            margin-left: 5px;
            padding-top: 5px;
            transition: transform 0.3s ease;
        }

        &:hover {
            color: #a8a8a8;
        }

        &:hover .bi-arrow-right-short {
            transform: translateX(2px);
            color: #a8a8a8;
        }
    }
}

.separator {
    display: block;
    width: 100%;
    height: 2px;
    background-color: #0e0e01;
    margin: 0;
}