<div class='w-100 m-0'>
    <section class="text-container">
        <p class="title">Privacy</p>
        <div class="content">
            <p>
                We collect personal information from you, including information about your name, contact information and
                interactions with us.<br /><br />

                We collect personal information in order to provide advertising, marketing and other related services to
                our
                clients and potential clients.<br /><br />

                Providing some information is optional. If you choose not to provide your information, we'll be unable
                to
                provide many of our services.<br /><br />

                We keep your information safe by storing it on secure, trusted platforms and only allowing certain staff
                to
                access it.<br /><br />

                You have the right to ask for a copy of any personal information we hold about you, and to ask for it to
                be
                corrected if you think it is wrong. If you’d like to ask for a copy of your information, or to have it
                corrected, please contact us at <a href="mailto:team@perpeture.co">team&#64;perpeture.co</a>.
            </p>
        </div>
    </section>
    <app-footer></app-footer>
</div>