<div class='w-100 m-0'>
    <section class="text-container">
        <p class="title">{{ 'footer.privacy' | translate }}</p>
        <div class="content">
            <p>
                {{ 'footer.privacy.text-P1' | translate }}<br /><br />
                {{ 'footer.privacy.text-P2' | translate }}<br /><br />
                {{ 'footer.privacy.text-P3' | translate }}<br /><br />
                {{ 'footer.privacy.text-P4' | translate }}<br /><br />
                {{ 'footer.privacy.text-P5-bf' | translate }}
                <a href="mailto:team@perpeture.co">team&#64;perpeture.co</a>
                {{ 'footer.privacy.text-P5-af' | translate }}
            </p>
        </div>
    </section>
    <app-footer></app-footer>
</div>