<div class="project-card-container container-fluid">
    <div class="row row-cols-1 row-cols-md-3 custom-gutter">
        <div class="col" *ngFor="let service of services; let i = index">
            <div class="card-container">
                <!-- Image -->
                <div class="image-wrapper">
                    <img [src]="service.image" [alt]="service.title + ' ' + (i + 1)">
                </div>
                <!-- Title -->
                <div class="title-wrapper" (click)="showDescription(i)">
                    <p class="title">
                        {{ service.title || 'No Title' }}
                    </p>
                    <i class="bi bi-chevron-down" [ngClass]="{'fade-out': isVisible[i]}"></i>
                </div>
                <!-- Description -->
                <div class="description-wrapper" [ngClass]="{'visible': isVisible[i]}">
                    <p class="description" [innerHTML]="service.description">
                    </p>
                    <div class="more-container">
                        <div class="more-wrapper" routerLink="/services">
                            <p>Learn more</p>
                            <i class="bi bi-arrow-right-short"></i>
                        </div>
                        <i class="bi bi-chevron-up" (click)="showDescription(i)"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>