.project-card-container {
    width: 100%;
    padding: 0 60px;
    margin-bottom: 146px;
}

.custom-gutter {
    row-gap: 115px;
    column-gap: 128.75px;
}

.col {
    width: 392px;
    min-height: 217px;
}

.card-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    // &::after {
    //     content: "";
    //     width: 100%;
    //     height: 2px;
    //     background-color: #0e0e01;
    // }

    .image-wrapper {
        width: auto;
        height: 136px;
        cursor: pointer;

        img {
            width: auto;
            height: 100%;
        }
    }

    .title-wrapper {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 60px;
        cursor: pointer;
        border-bottom: 2px solid #0e0e01;

        .title {
            font-family: 'Larsseit-500' !important;
            font-size: 1.5rem;
            color: #0e0e01;
            margin: 0;
        }

        .bi-chevron-down {
            color: #0e0e01;
            font-size: 1.125rem;
            margin-left: 5px;
            padding-top: 5px;
            margin-right: -1.3px;
            transition: transform 0.1s ease, color 0.1s ease, opacity 0.1s ease;
            opacity: 1;

            &.fade-out {
                opacity: 0;
            }
        }

        &:hover .title,
        &:hover .bi-chevron-down {
            color: #a8a8a8;
        }
    }

    .description-wrapper {
        opacity: 0;
        width: 100%;
        flex-direction: column;
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.1s ease, padding 0.1s ease;

        &.visible {
            opacity: 1;
            transform: translateY(0);
            max-height: 450px;
        }

        .description {
            padding: 50px 0 44.5px 0;
            font-family: 'Sohne' !important;
            font-size: 1.5rem;
            color: #0e0e01;
            margin: 0;
        }

        .more-container {
            display: flex;
            width: 100%;
            height: auto;
            justify-content: space-between;
            align-items: center;
            padding-bottom: 10.8px;
            border-bottom: 2px solid #0e0e01;

            .more-wrapper {
                display: flex;
                justify-content: flex-start;
                align-items: center;
                cursor: pointer;

                p {
                    font-family: 'Sohne' !important;
                    font-size: 1.5rem;
                    color: #0e0e01;
                    margin: 0;
                }

                .bi-arrow-right-short {
                    margin-top: 4px;
                    margin-left: 2.3px;
                    color: #0e0e01;
                    font-size: 1.5rem;
                    transition: transform 0.1s ease;
                }

                &:hover p {
                    color: #a8a8a8
                }

                &:hover .bi-arrow-right-short {
                    transform: translateX(2px);
                    color: #a8a8a8
                }
            }
        }

        .bi-chevron-up {
            position: relative;
            color: #0e0e01;
            font-size: 1.125rem;
            transition: transform 0.1s ease;
            margin-top: 3px;
            margin-right: -1.3px;
            cursor: pointer;

            &:hover {
                transform: translateY(-2px);
                color: #a8a8a8;

                &::after {
                    background-color: #a8a8a8;
                }
            }

            &::after {
                content: "";
                position: absolute;
                bottom: 5px;
                left: 50%;
                transform: translateX(-50%);
                width: 12.03px;
                height: 1px;
                background-color: #0e0e01;
                border-radius: 10px;
            }
        }
    }
}