.article-card-container {
    width: 100%;
    padding: 15px;
}

.custom-gutter {
    row-gap: 15px;
}

.card-container {
    display: flex;
    flex-direction: column;
    cursor: pointer;

    .image-wrapper {
        height: 400px;
        overflow: hidden;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            transition: transform 0.3s ease;

            &:hover {
                transform: scale(1.05)
            }
        }
    }

    p {
        font-family: 'Sohne' !important;
        font-size: 1.5rem;
        color: #0e0e01;
        margin-top: 10px;
    }
}