.testimonial-container {
    display: flex;
    justify-content: space-between;
}

.left-container {
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 0 0 0 60px;

    .quotation {
        width: 200px;
        height: 380px;
        margin: 116.6px 0 0 -12.41px;
        color: #000000;
        font-family: 'Sohne' !important;
        font-size: 25rem;
        transform: rotate(180deg);
        transform: scaleY(-1);
    }

    .testimonial {
        text-align: left;
        font-family: 'Sohne' !important;
        font-size: 2rem;
        padding-right: 112.58px;
        margin-bottom: 129.78px;
        color: #000000;
    }

    .name-wrapper {
        display: flex;
        justify-content: flex-start;
        align-items: center;

        .bar {
            width: 50px;
            height: 2px;
            background-color: #000000;
        }

        p {
            font-family: 'Larsseit' !important;
            font-size: 2.25rem;
            margin: 0 0 0 20px;
            color: #000000;
        }

    }
}

.right-container {
    width: 55%;

    h1 {
        margin: 81.9px 0 98.5px;
        height: 92px;
    }
}


.footer-button-wrapper {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 144.3px;

    .footer-button {
        display: flex;
        justify-content: start;
        align-items: center;
        color: #0e0e01;
        padding: 0;
        margin: 0 9px 1.7px 120px;
        border: none;
        background-color: transparent;
        font-family: 'Sohne-500' !important;
        font-size: 1.75rem;

        i {
            font-size: 2rem;
            margin-left: 0.5px;
            padding-top: 5px;
            transition: transform 0.3s ease;
            position: relative;
        }

        &:hover {
            color: #a8a8a8;
        }

        &:hover .bi-arrow-right-short {
            transform: translateX(2px);
            color: #a8a8a8;
        }
    }
}

.separator {
    display: block;
    width: 100%;
    height: 2px;
    background-color: #0e0e01;
    margin: 0;
}