h1 {
    margin: 90px 0 100px 65px;
    height: 46px;
}

.sort-button-container {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;

    .sort-button {
        display: flex;
        justify-content: center;
        align-items: center;
        color: #0e0e01;
        margin-left: 120px;
        margin-right: 15px;
        border: none;
        background-color: transparent;
        font-family: 'Larsseit' !important;
        font-size: 1.5rem;

        &.selected,
        &:hover {
            color: #a8a8a8;
        }

        i {
            font-size: 1.5rem;
            margin-left: 5px;
            padding-top: 5px;
            transition: transform 0.3s ease;
        }

        &:hover .bi-chevron-down {
            transform: translateY(2px);
            color: #a8a8a8;
        }

        &:hover .bi-arrow-right-short {
            transform: translateX(2px);
            color: #a8a8a8;
        }

        .bi-x {
            color: #a8a8a8;
            font-size: 1.5rem;
            margin-left: 5px;
            padding-top: 5px;
        }
    }
}

.separator {
    display: block;
    width: 100%;
    height: 2px;
    background-color: #0e0e01;
    margin: 0;
}

.footer-button-wrapper {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;

    .footer-button {
        display: flex;
        justify-content: center;
        align-items: center;
        color: #0e0e01;
        margin-left: 120px;
        margin-right: 15px;
        border: none;
        background-color: transparent;
        font-family: 'Sohne-500' !important;
        font-size: 1.75rem;

        i {
            font-size: 2rem;
            margin-left: 5px;
            padding-top: 5px;
            transition: transform 0.3s ease;
        }

        &:hover {
            color: #a8a8a8;
        }

        &:hover .bi-arrow-right-short {
            transform: translateX(2px);
            color: #a8a8a8;
        }
    }
}