<section class='w-100 m-0'>
    <!-- Title -->
    <h1>
        The latest news
    </h1>
    <!-- Sorting buttons -->
    <div class="sort-button-container">
        <button class="sort-button" (click)="sortArticles('news')"
            [ngClass]="{'selected': (selectedFilter$ | async) === 'news'}">
            News
            <i class="bi" [ngClass]="{
                'bi-chevron-down': (selectedFilter$ | async) !== 'news',
                'bi-x': (selectedFilter$ | async) === 'news'
            }"></i>
        </button>
        <button class="sort-button" (click)="sortArticles('article')"
            [ngClass]="{'selected': (selectedFilter$ | async) === 'article'}">
            Articles
            <i class="bi" [ngClass]="{
                'bi-chevron-down': (selectedFilter$ | async) !== 'article',
                'bi-x': (selectedFilter$ | async) === 'article'
            }"></i>
        </button>
        <button class="sort-button" [routerLink]="['/articles']">
            View all content
            <i class="bi bi-arrow-right-short"></i>
        </button>
    </div>
    <span class="separator"></span>
    <!-- Article cards -->
    <ng-container *ngIf="(articles$ | async) as articles">
        <app-article-card [articles]="articles | slice:0:6"></app-article-card>
    </ng-container>
    <!-- Footer -->
    <div class="footer-button-wrapper" [routerLink]="['/articles']">
        <button class="footer-button">
            View all content
            <i class="bi bi-arrow-right-short"></i>
        </button>
    </div>
    <span class="separator"></span>
</section>