.article-card-container {
    width: 100%;
    padding: 15px;
    cursor: pointer;
}

.custom-gutter {
    row-gap: 15px;
}

.card-container {
    display: flex;
    flex-direction: column;

    .image-wrapper {
        height: 400px;
        overflow: hidden;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            transition: transform 0.1s ease;

            &:hover {
                transform: scale(1.05)
            }
        }
    }

    p {
        font-family: 'Sohne' !important;
        font-size: 1.5rem;
        color: #0e0e01;
        margin-top: 10px;
    }
}

.article-page-container {
    width: 100%;
    padding: 15px;

    .information-container {

        .info-title-wrapper {
            width: 100%;
            height: 62px;
            overflow: hidden;
            position: relative;
            margin-top: 8px;
            z-index: 0;

            &::after {
                display: block;
                content: '';
                position: absolute;
                bottom: 0;
                left: 0;
                width: 100%;
                height: 31px;
                background-color: #ffffff;
                transition: height 0.1s ease;
            }

            .info-title {
                margin: 0;
                font-family: 'Sohne' !important;
                font-size: 1.5rem;
                color: #0e0e01;
            }
        }

        .info-content {
            font-family: 'Larsseit' !important;
            font-size: 1.25rem;
            color: #0e0e01;
        }
    }

    &:hover ::after {
        height: 0;
    }
}