.menu-container {
    height: 40px;
    margin-left: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    z-index: 100;

    .menu-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: center;
        position: relative;
        z-index: 100;

        .menu-item {
            width: auto;
            height: 40px;
            min-width: 34px;
            line-height: 24px;
            padding: 0 21px;
            color: #ffffff;
            font-family: 'Larsseit' !important;
            font-weight: 300;
            font-size: 1.125rem;
            background-color: transparent;
            border: none;
            user-select: none;
            cursor: pointer;
            z-index: 100;

            &:hover {
                color: #a8a8a8;
                background-color: transparent;
            }

            &.selected {
                color: #a8a8a8;
            }
        }

        &:hover .chevron,
        &.selected .chevron {
            display: block;
            top: 40px;
            left: 21px;
            opacity: 1;
        }

        .chevron {
            font-size: 1rem;
            position: absolute;
            top: -100%;
            left: 21px;
            opacity: 0;
            color: #a8a8a8;
            z-index: 20;
            transition: top 0.3s ease, opacity 0.3s ease;

            &.visible {
                top: 40px;
                opacity: 1;
            }
        }
    }
}

.submenu-container {
    width: 100%;
    height: 410px;
    position: absolute;
    top: 46px;
    left: 0;
    display: none;
    flex-direction: column;
    background-color: #0e0e01;
    transition: all 0.3s ease;

    &.visible {
        display: flex;
        opacity: 1;
    }

    &:hover {
        visibility: visible;
        opacity: 1;
        transform: translateY(0);
        transition: opacity 0.5s ease, transform 0.5s ease, visibility 0s linear 0s;
        /* visibility immediately visible */
    }

    .submenu-box {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: start;
        align-items: start;
        margin-top: 70px;
        top: -100%;
        left: 0;
        opacity: 0;
        transition: top 0.5s ease, opacity 0.5s ease;

        &.visible {
            display: flex;
            top: 0;
            opacity: 1;
        }

        .submenu-item-wrapper {
            width: auto;
            height: auto;
            display: flex;
            flex-direction: column;
            padding: 6px 0;
            margin-left: 117px;

            .submenu-item {
                list-style: none;
                background-color: transparent;
                font-family: 'Sohne' !important;
                font-size: 1.5rem;
                border: none;
                user-select: none;
                min-width: 64px;
                margin-bottom: 6px;
                color: #ffffff;
                cursor: pointer;

                &:hover {
                    color: rgba(255, 255, 255, 0.7);
                }

            }

            .page-link {
                list-style: none;
                display: flex;
                flex-direction: row;
                justify-content: start;
                align-items: center;
                font-family: 'Larsseit' !important;
                font-weight: 400;
                font-size: 1.125rem;
                color: #a8a8a8;
                margin-bottom: 16px;
                cursor: pointer;
                transition: color 0.3s ease;

                &:hover {
                    color: #ffffff;

                    .bi-arrow-right-short {
                        transform: translateX(3px);
                    }
                }

                p {
                    margin: 0;
                }

                .bi-arrow-right-short {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    transition: transform 0.3s ease;
                }
            }
        }
    }
}

// Mobile devices
@media screen and (max-width: 768px) {
    .menu-container {
        display: none;
    }

    .hamburger-menu {
        display: block;
    }
}