<div class="menu-container">
    <button class="menu-item" id="projects">Projects</button>
    <button class="menu-item" id="services">What we do</button>
    <button class="menu-item" id="about">About us</button>
</div>
<div id="submenu-projects" class="submenu-container">
    <i class="bi bi-chevron-down"></i>
    <div class="submenu-box">
        <ul class="submenu-item-wrapper">
            <li class="submenu-item">MyOCP App</li>
            <li class="submenu-item">Duncan Taylor Builders Website</li>
            <li class="submenu-item">Perpetua Website</li>
            <li class="submenu-item">OCP Group Website</li>
            <li class="submenu-item">Ecoglo Cost-calculator</li>
            <li class="submenu-item">First Class First Aid Website</li>
        </ul>
        <ul class="submenu-item-wrapper">
            <li class="page-link">
                <p>View all work</p><i class="bi bi-arrow-right-short"></i>
            </li>
            <li class="page-link">
                <p>Browse by project type</p><i class="bi bi-arrow-right-short"></i>
            </li>
            <li class="page-link">
                <p>Browse by industry</p><i class="bi bi-arrow-right-short"></i>
            </li>
        </ul>

        <app-search-bar></app-search-bar>
    </div>
</div>

<!-- <div id="submenu-services" class="submenu-container">
    <ul class="submenu-item-wrapper">
        <li class="submenu-item">Custom Software</li>
        <li class="submenu-item">Websites & CMS</li>
        <li class="submenu-item">Native & Web Apps</li>
        <li class="submenu-item">Artificial Intelligence</li>
        <li class="submenu-item">Hosting & Cloud</li>
        <li class="submenu-item">First Class First Aid Website</li>
        <li class="submenu-item">Data & Analytics</li>
    </ul>
</div>

<div id="submenu-about" class="submenu-container">
    <ul class="submenu-item-wrapper">
        <li class="submenu-item">About Us</li>
        <li class="submenu-item">Our Team</li>
        <li class="submenu-item">Our Clients</li>
        <li class="submenu-item">Testimonials</li>
    </ul>
</div> -->

<!-- Projects -->
<!-- <div>
    <ul>
        <li>
            <p>View all work</p>
            <span>icon</span>
        </li>
        <li>
            <p>Browse by project type</p>
            <span>icon</span>
        </li>
        <li>
            <p>Browse by industry</p>
            <span>icon</span>
        </li>
    </ul>
</div> -->

<!-- What we do -->
<!-- <div>
    <ul>
        <li>
            <p>Learn more</p>
            <span>icon</span>
        </li>
        <li>
            <p>Book a free consultation</p>
            <span>icon</span>
        </li>
    </ul>
</div> -->

<!-- About us -->
<!-- <div>
    <ul>
        <li>
            <p>Join the team</p>
            <span>icon</span>
        </li>
        <li>
            <p>View our locations</p>
            <span>icon</span>
        </li>
    </ul>
</div> -->