<!-- Menu bar -->
<div class="menu-container">
    <button class="menu-item" id="projects" (click)="onMenuClick('projects', $event)"
        (mouseenter)="onMenuClick('projects', $event)">Projects</button>
    <button class="menu-item" id="services" (click)="onMenuClick('services', $event)"
        (mouseenter)="onMenuClick('services', $event)">What we do</button>
    <button class="menu-item" id="about" (click)="onMenuClick('about', $event)"
        (mouseenter)="onMenuClick('about', $event)">About us</button>
    <button class="menu-item" id="blog" (click)="onMenuClick('blog', $event)"
        (mouseenter)="onMenuClick('blog', $event)">Blog</button>
    <button class="menu-item" id="contact" (click)="onMenuClick('contact', $event)"
        (mouseenter)="onMenuClick('contact', $event)">Contact</button>
</div>
<!-- Submenu -->
<!-- Projects -->
<div id="submenu-projects" class="submenu-container">
    <i class="bi bi-chevron-down"></i>
    <div class="submenu-box">
        <ul class="submenu-item-wrapper">
            <li class="submenu-item">MyOCP App</li>
            <li class="submenu-item">Duncan Taylor Builders Website</li>
            <li class="submenu-item">Perpetua Website</li>
            <li class="submenu-item">OCP Group Website</li>
            <li class="submenu-item">Ecoglo Cost-calculator</li>
            <li class="submenu-item">First Class First Aid Website</li>
        </ul>
        <ul class="submenu-item-wrapper">
            <li class="page-link">
                <p>View all work</p><i class="bi bi-arrow-right-short"></i>
            </li>
            <li class="page-link">
                <p>Browse by project type</p><i class="bi bi-arrow-right-short"></i>
            </li>
            <li class="page-link">
                <p>Browse by industry</p><i class="bi bi-arrow-right-short"></i>
            </li>
        </ul>
        <div class="submenu-item-wrapper">
            <app-search-bar placeholder="Search projects"></app-search-bar>
        </div>
    </div>
</div>
<!-- What we do -->
<div id="submenu-services" class="submenu-container">
    <i class="bi bi-chevron-down"></i>
    <div class="submenu-box">
        <ul class="submenu-item-wrapper">
            <li class="submenu-item">Custom Software</li>
            <li class="submenu-item">Websites & CMS</li>
            <li class="submenu-item">Native & Web Apps</li>
            <li class="submenu-item">Artificial Intelligence</li>
            <li class="submenu-item">Hosting & Cloud</li>
            <li class="submenu-item">Data & Analytics</li>
        </ul>
        <ul class="submenu-item-wrapper">
            <li class="page-link">
                <p>Learn more</p><i class="bi bi-arrow-right-short"></i>
            </li>
            <li class="page-link">
                <p>Book a free consultation</p><i class="bi bi-arrow-right-short"></i>
            </li>
        </ul>
    </div>
</div>
<!-- About us -->
<div id="submenu-about" class="submenu-container">
    <i class="bi bi-chevron-down"></i>
    <div class="submenu-box">
        <ul class="submenu-item-wrapper">
            <li class="submenu-item">About Us</li>
            <li class="submenu-item">Our Team</li>
            <li class="submenu-item">Our Clients</li>
            <li class="submenu-item">Testimonials</li>
        </ul>
        <ul class="submenu-item-wrapper">
            <li class="page-link">
                <p>Join the team</p><i class="bi bi-arrow-right-short"></i>
            </li>
            <li class="page-link">
                <p>View our locations</p><i class="bi bi-arrow-right-short"></i>
            </li>
        </ul>
    </div>
</div>
<!-- Blog -->
<div id="submenu-blog" class="submenu-container">
    <i class="bi bi-chevron-down"></i>
    <div class="submenu-box">
        <ul class="submenu-item-wrapper">
            <li class="submenu-item">News</li>
            <li class="submenu-item">Articles</li>
        </ul>
        <ul class="submenu-item-wrapper">
            <li class="page-link">
                <p>View all content</p><i class="bi bi-arrow-right-short"></i>
            </li>
            <li class="page-link">
                <p>Browse by tag</p><i class="bi bi-arrow-right-short"></i>
            </li>
        </ul>
        <div class="submenu-item-wrapper">
            <app-search-bar placeholder="Search content"></app-search-bar>
        </div>
    </div>
</div>
<!-- Contact -->
<div id="submenu-contact" class="submenu-container">
    <i class="bi bi-chevron-down"></i>
    <div class="submenu-box">
        <ul class="submenu-item-wrapper">
            <li class="submenu-item">Contact us</li>
            <li class="submenu-item">Our locations</li>
            <li class="submenu-item">Careers</li>
        </ul>
        <ul class="submenu-item-wrapper">
            <li class="page-link">
                <p>Send us a message</p><i class="bi bi-arrow-right-short"></i>
            </li>
            <li class="page-link">
                <p>Book a consultation</p><i class="bi bi-arrow-right-short"></i>
            </li>
        </ul>
    </div>
</div>