<div class="lang-option-container">
    <i class="bi bi-chevron-left"></i>
    <form action=''>
        <fieldset class="radio-button-group">
            <div class="radio-options">
                <div class="lang-option">
                    <input id="korean" name="language" type="radio" value="korean" class="hidden-radio" />
                    <label for="korean" class="radio-label">한국어</label>
                </div>
                <div class="lang-option">
                    <input id="japanese" name="language" type="radio" value="japanese" class="hidden-radio" />
                    <label for="japanese" class="radio-label">日本語</label>
                </div>
                <div class="lang-option">
                    <input id="english" name="language" type="radio" value="english" class="hidden-radio" />
                    <label for="english" class="radio-label">English</label>
                </div>
            </div>
        </fieldset>
    </form>
</div>