<!-- Menu bar -->
<div class="menu-container">
    <div class="menu-wrapper">
        <button class="menu-item" id="projects" (click)="onMenuClick('projects', $event)"
            (mouseenter)="onMenuClick('projects', $event)">{{ 'menu.projects' | translate }}</button>
        <i class="chevron bi bi-chevron-down"></i>
    </div>
    <div class="menu-wrapper">
        <button class="menu-item" id="services" (click)="onMenuClick('services', $event)"
            (mouseenter)="onMenuClick('services', $event)">{{ 'menu.services' | translate }}</button>
        <i class="chevron bi bi-chevron-down"></i>
    </div>
    <div class="menu-wrapper">
        <button class="menu-item" id="about" (click)="onMenuClick('about', $event)"
            (mouseenter)="onMenuClick('about', $event)">{{ 'menu.about' | translate }}</button>
        <i class="chevron bi bi-chevron-down"></i>
    </div>
    <div class="menu-wrapper">
        <button class="menu-item" id="blog" (click)="onMenuClick('blog', $event)"
            (mouseenter)="onMenuClick('blog', $event)">{{ 'menu.blog' | translate }}</button>
        <i class="chevron bi bi-chevron-down"></i>
    </div>
    <div class="menu-wrapper">
        <button class="menu-item" id="contact" (click)="onMenuClick('contact', $event)"
            (mouseenter)="onMenuClick('contact', $event)">{{ 'menu.contact' | translate }}</button>
        <i class="chevron bi bi-chevron-down"></i>
    </div>
</div>
<!-- Submenu -->
<!-- Projects -->
<div id="submenu-projects" class="submenu-container">
    <div class="submenu-box">
        <ul class="submenu-item-wrapper">
            <li class="submenu-item" routerLink="/projects">MyOCP App</li>
            <li class="submenu-item" routerLink="/projects">Duncan Taylor Builders Website</li>
            <li class="submenu-item" routerLink="/projects">Perpetua Website</li>
            <li class="submenu-item" routerLink="/projects">OCP Group Website</li>
            <li class="submenu-item" routerLink="/projects">Ecoglo Cost-calculator</li>
            <li class="submenu-item" routerLink="/projects">First Class First Aid Website</li>
        </ul>
        <ul class="submenu-item-wrapper">
            <li class="page-link" routerLink="/projects">
                <p>View all work</p><i class="bi bi-arrow-right-short"></i>
            </li>
            <li class="page-link" routerLink="/projects">
                <p>Browse by project type</p><i class="bi bi-arrow-right-short"></i>
            </li>
            <li class="page-link" routerLink="/projects">
                <p>Browse by industry</p><i class="bi bi-arrow-right-short"></i>
            </li>
        </ul>
        <div class="submenu-item-wrapper">
            <app-search-bar placeholder="Search projects" data="projects"></app-search-bar>
        </div>
    </div>
</div>
<!-- What we do -->
<div id="submenu-services" class="submenu-container">
    <div class="submenu-box">
        <ul class="submenu-item-wrapper">
            <li class="submenu-item" routerLink="/services">Custom Software</li>
            <li class="submenu-item" routerLink="/services">Websites <span class="ampersand">&#38;</span> CMS</li>
            <li class="submenu-item" routerLink="/services">Native <span class="ampersand">&#38;</span> Web Apps</li>
            <li class="submenu-item" routerLink="/services">Artificial Intelligence</li>
            <li class="submenu-item" routerLink="/services">Hosting <span class="ampersand">&#38;</span> Cloud</li>
            <li class="submenu-item" routerLink="/services">Data <span class="ampersand">&#38;</span> Analytics</li>
        </ul>
        <ul class="submenu-item-wrapper">
            <li class="page-link" routerLink="/services">
                <p>Learn more</p><i class="bi bi-arrow-right-short"></i>
            </li>
            <li class="page-link" routerLink="/services">
                <p>Book a free consultation</p><i class="bi bi-arrow-right-short"></i>
            </li>
        </ul>
    </div>
</div>
<!-- About us -->
<div id="submenu-about" class="submenu-container">
    <div class="submenu-box">
        <ul class="submenu-item-wrapper">
            <li class="submenu-item" routerLink="/about">About Us</li>
            <li class="submenu-item" routerLink="/about">Our Team</li>
            <li class="submenu-item" routerLink="/about">Our Clients</li>
            <li class="submenu-item" routerLink="/about">Testimonials</li>
        </ul>
        <ul class="submenu-item-wrapper">
            <li class="page-link" routerLink="/about">
                <p>Join the team</p><i class="bi bi-arrow-right-short"></i>
            </li>
            <li class="page-link" routerLink="/about">
                <p>View our locations</p><i class="bi bi-arrow-right-short"></i>
            </li>
        </ul>
    </div>
</div>
<!-- Blog -->
<div id="submenu-blog" class="submenu-container">
    <div class="submenu-box">
        <ul class="submenu-item-wrapper">
            <li class="submenu-item" routerLink="/articles">News</li>
            <li class="submenu-item" routerLink="/articles">Articles</li>
        </ul>
        <ul class="submenu-item-wrapper">
            <li class="page-link" routerLink="/articles">
                <p>View all content</p><i class="bi bi-arrow-right-short"></i>
            </li>
            <li class="page-link" routerLink="/articles">
                <p>Browse by tag</p><i class="bi bi-arrow-right-short"></i>
            </li>
        </ul>
        <div class="submenu-item-wrapper">
            <app-search-bar placeholder="Search content" data="articles"></app-search-bar>
        </div>
    </div>
</div>
<!-- Contact -->
<div id="submenu-contact" class="submenu-container">
    <div class="submenu-box">
        <ul class="submenu-item-wrapper">
            <li class="submenu-item" routerLink="/contact">Contact us</li>
            <li class="submenu-item" routerLink="/contact">Our locations</li>
            <li class="submenu-item" routerLink="/contact">Careers</li>
        </ul>
        <ul class="submenu-item-wrapper">
            <li class="page-link" routerLink="/contact">
                <p>Send us a message</p><i class="bi bi-arrow-right-short"></i>
            </li>
            <li class="page-link" routerLink="/contact">
                <p>Book a consultation</p><i class="bi bi-arrow-right-short"></i>
            </li>
        </ul>
    </div>
</div>