.menu-container {
    position: relative;
    width: auto;
    height: 40px;
    margin: 0 0 0 56px;
    padding: 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    z-index: 20;

    .menu-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: center;
        position: relative;
        z-index: 21;
        margin: 0 42.75px 0 0;

        .menu-item {
            width: auto;
            height: 40px;
            min-width: 34px;
            line-height: 24px;
            padding: 3px 0;
            color: #ffffff;
            font-family: 'Larsseit' !important;
            font-size: 1.125rem;
            background-color: transparent;
            border: none;
            -webkit-user-select: none;
            user-select: none;
            cursor: pointer;
            z-index: 21;

            &:hover {
                color: #a8a8a8;
                background-color: transparent;
            }

            &.selected {
                color: #a8a8a8;
            }

            &.active {
                color: #a8a8a8;
            }
        }

        .chevron {
            font-size: 1rem;
            position: absolute;
            top: 0;
            left: 0;
            opacity: 0;
            color: #a8a8a8;
            z-index: 20;
            transition: top 0.1s ease, opacity 0.1s ease;
            z-index: 120;

            &.visible {
                top: 44.38px;
                opacity: 1;
            }
        }

    }
}

.submenu-container {
    width: 100%;
    min-height: 269px;
    max-height: 483px;
    position: absolute;
    top: 40px;
    left: 0;
    display: none;
    flex-direction: column;
    background-color: #0e0e01;
    transition: all 0.1s ease;

    &.visible {
        display: flex;
        opacity: 1;
    }

    &:hover {
        visibility: visible;
        opacity: 1;
        transform: translateY(0);
        transition: opacity 0.5s ease, transform 0.5s ease, visibility 0s linear 0s;
    }

    .submenu-box {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: start;
        align-items: start;
        margin-top: 96.28px;
        padding-bottom: 73.38px;
        top: -100%;
        left: 0;
        opacity: 0;
        transition: top 0.5s ease, opacity 0.5s ease;

        &.visible {
            display: flex;
            top: 0;
            opacity: 1;
        }

        .submenu-item-wrapper {
            width: auto;
            height: auto;
            display: flex;
            flex-direction: column;
            padding-left: 0;

            .submenu-item {
                max-width: 393.18px;
                min-width: 130px;
                margin-left: 105px;
                margin-bottom: 11.22px;
                list-style: none;
                background-color: transparent;
                font-family: 'Sohne-500' !important;
                font-size: 1.5rem;
                border: none;
                -webkit-user-select: none;
                user-select: none;
                color: #ffffff;
                cursor: pointer;

                &:hover {
                    color: rgba(255, 255, 255, 0.7);
                }

                .ampersand {
                    font-family: 'sohne';
                    font-weight: 600;
                    font-size: 1.438rem;
                }
            }

            .page-link {
                min-width: 144px;
                height: 24px;
                margin-left: 83.82px;
                margin-bottom: 18.22px;
                list-style: none;
                display: flex;
                flex-direction: row;
                justify-content: start;
                align-items: center;
                font-family: 'Larsseit' !important;
                font-size: 1.125rem;
                color: #a8a8a8;
                cursor: pointer;
                transition: color 0.1s ease;

                &:hover {
                    color: #ffffff;

                    .bi-arrow-right-short {
                        transform: translateX(3px);
                    }
                }

                p {
                    margin: 0;
                }

                .bi-arrow-right-short {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    transition: transform 0.1s ease;
                }
            }
        }
    }
}

// Mobile devices
@media screen and (max-width: 768px) {
    .menu-container {
        display: none;
    }
}