.link-container {
    margin-top: 60px;
    padding-top: 50px;
    border-top: 1px solid #414042;
    padding-bottom: 200px;

    .section-title {
        font-family: 'Sohne-500';
        font-size: 1.5rem;
    }

    ul {
        list-style-type: none;
        padding: 0;

        li {
            cursor: pointer;
            font-family: 'Larsseit';
            font-size: 1.125rem;
            margin-bottom: 10px;
            transition: all 0.1s ease;

            &:hover {
                color: #7a7a7a;
            }
        }
    }

    .separator:first-child {
        position: relative;

        &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 1px;
            background: linear-gradient(to right, #414042 0%, #414042 50%, transparent 50%, transparent 100%);
        }

        padding-top: 15px;
    }
}