p {
    padding: 0;
    margin: 0;
}

.header-section {
    width: 100%;
    height: auto;
    padding: 0 0 115px;
    margin: 0;
    display: flex;
    flex-direction: column;
    border-bottom: 2px solid #0e0e01;

    .header-container {
        padding: 79px 65px 85px;
        margin: 0;
        display: flex;
        justify-content: flex-start;
        align-items: start;

        .title {
            min-width: 194px;
            margin-right: 150px;
        }

        .header-bf,
        .ampersand,
        .header-af {
            font-family: 'Sohne' !important;
            font-size: 1.5rem;
            color: #0e0e01;
        }
    }

    .image-wrapper {
        width: 100%;
        height: 858px;
        padding: 15px;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
        }
    }

    menu {
        display: flex;
        width: 100%;
        padding: 62px 65px 77px;
        margin: 0;
        color: #000000;
        font-size: 1.5rem;

        .location-button {
            list-style: none;
            margin-right: 65px;
            cursor: pointer;

            &.selected {
                color: #a8a8a8;
            }
        }

        .menu-icon {
            transform: rotate(135deg);
            display: inline-block;
            margin: -5px;
        }


        .location-button:hover {
            color: #a8a8a8;

            .menu-icon {
                color: #a8a8a8;
            }
        }
    }

    .contact-info-container {
        display: flex;
        justify-content: flex-start;
        align-items: start;
        gap: 97px;
        padding: 0 65px;
        color: #0e0e01;
        font-size: 1.5rem;

        .subject {
            font-family: 'Sohne-500' !important;
            margin-bottom: 15px;
        }

        .email,
        .phone {
            font-family: 'Sohne' !important;
        }

        .email {
            text-decoration: underline;
        }
    }
}

.form-section {
    border-bottom: 2px solid #0e0e01;
    position: relative;

    .success-msg,
    .error-msg {
        position: absolute;
        top: 77px;
        right: -100%;
        width: auto;
        height: 38px;
        font-family: 'Sohne', sans-serif;
        font-size: 1.5rem;
        padding: 2px 5px;
        transition: right 0.3s ease-in-out;
    }

    .success-msg {
        color: #0e0e01;
        background-color: #8bfb9c;
    }

    .error-msg {
        color: #ffffff;
        background-color: #ff6767;
    }

    .visible {
        right: 15px;
    }

    h1 {
        padding: 77px 65px 82px;
        margin: 0;
    }

    .form-container {
        display: flex;
        flex-direction: column;
        padding: 0 65px;
        gap: 77px;

        .form-wrapper {
            display: flex;
            gap: 52px;

            .input-wrapper {
                width: 100%;

                .error-message {
                    color: #ff6767;
                    font-size: 1.25rem;
                    margin-top: 5px;
                }
            }

            label {
                display: none;
            }

            input,
            textarea {
                width: 100%;
                min-height: 38px;
                font-family: 'Sohne', sans-serif;
                font-size: 1.5rem;
                color: #0e0e01;
                border: none;
                border-bottom: 2px solid #0e0e01;
                padding: 0;
                margin: 0;

                &:focus {
                    outline: none;
                }

                &.input-error {
                    border-bottom: 2px solid #ff6767;
                }
            }

            .phone-wrapper {
                display: flex;
                gap: 31px;

                .image-wrapper {
                    width: 38px;
                    height: 38px;

                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: contain;
                        object-position: center;
                    }
                }

                .country-code {
                    min-width: 50px;
                    max-width: 60px;
                }
            }

            textarea {
                height: 38px;
                box-sizing: border-box;
                resize: none;
                overflow: hidden;

                &.input-error {
                    border-bottom: 2px solid #ff6767;
                }
            }

            ::placeholder {
                font-family: 'Sohne', sans-serif;
                font-size: 1.5rem;
                color: #0e0e01;
            }

            ::-webkit-input-placeholder {
                font-family: 'Sohne', sans-serif;
                font-size: 1.5rem;
                color: #0e0e01;
            }

            :-moz-placeholder {
                font-family: 'Sohne', sans-serif;
                font-size: 1.5rem;
                color: #0e0e01;
            }

            ::-moz-placeholder {
                font-family: 'Sohne', sans-serif;
                font-size: 1.5rem;
                color: #0e0e01;
            }

            :-ms-input-placeholder {
                font-family: 'Sohne', sans-serif;
                font-size: 1.5rem;
                color: #0e0e01;
            }

            ::-ms-input-placeholder {
                font-family: 'Sohne', sans-serif;
                font-size: 1.5rem;
                color: #0e0e01;
            }
        }
    }

    .submit-button-wrapper {
        width: 100%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        margin: -4.2px 0 0;

        .submit-button {
            display: flex;
            justify-content: start;
            align-items: center;
            color: #0e0e01;
            padding: 0;
            margin: 0 -56.5px 1.7px 120px;
            border: none;
            background-color: transparent;
            font-family: 'Sohne-500' !important;
            font-size: 1.75rem;

            i {
                font-size: 2rem;
                margin-left: 0.5px;
                padding-top: 5px;
                transition: transform 0.1s ease;
                position: relative;
            }

            &:hover {
                color: #a8a8a8;
            }

            &:hover .bi-arrow-right-short {
                transform: translateX(2px);
                color: #a8a8a8;
            }


            &:disabled {
                color: #a8a8a8;
                cursor: not-allowed;

                .bi-arrow-right-short {
                    color: #a8a8a8;
                }
            }

            .error-message {
                color: #ff6767;
            }
        }

        .sending {
            color: #a8a8a8;
        }
    }
}

.location-section {
    padding: 0 65px 47px;

    h1 {
        padding: 77px 0;
        margin: 0;
    }
}