.client-card-container {
    width: 100%;
    height: auto;
    padding: 0 10px;
    margin: 0;
}

.custom-gutter {
    row-gap: 20px;
}

.card-container {
    position: relative;
    width: 100%;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    overflow: hidden;

    .image-wrapper {
        position: relative;
        width: 100%;
        height: 100%;
        border: none;
        background-color: transparent;
        overflow: hidden;
        border: none;
        background-color: transparent;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    .info-wrapper {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 0;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        justify-content: center;
        background: linear-gradient(transparent, #0e0e01);
        color: white;
        text-align: center;
        transition: all 0.3s ease;


        .role {
            font-family: 'Larsseit' !important;
            font-weight: 300;
            font-size: 1rem;
            margin: 0;
        }

        .member-name {
            font-family: 'Larsseit' !important;
            font-weight: 400;
            font-size: 1.5rem;
            margin: 0;
        }

    }

    &:hover .info-wrapper {
        height: 100px;
    }
}