.staff-card-container {
    width: 100%;
    padding: 0 15px;
    margin: 0;
}

.custom-gutter {
    padding: 0;
    margin: 0;
    row-gap: 15px;
}

.col {
    padding: 0 15px 0 0;
    margin: 0;
    cursor: pointer;

    &:nth-child(3n) {
        padding-right: 0;
    }
}

.card-container {
    position: relative;
    width: 100%;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;

    // .swiper-button-next::after {
    //     content: "";
    // }


    .image-wrapper {
        position: relative;
        width: 100%;
        height: 100%;
        border: none;
        background-color: transparent;
        overflow: hidden;
        border: none;
        background-color: transparent;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        .swiper-button-next {
            position: absolute;
            top: 0;
            left: 0;
            width: 50%;
            height: 100%;
            margin: 0;
            padding: 0;
            color: yellow;
            background-color: red;
        }
    }
}