section {
    padding: 151px 223px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;

    .section-top,
    .section-bottom {
        width: 100%;
        height: auto;
    }

    .section-top {
        color: #0e0e01;
        font-family: 'Sohne' !important;
        font-size: 1.5rem;

        .page-title {
            color: #a8a8a8;
        }

        .article-title {
            color: #000000;
            font-size: 2.5rem;
            margin: 20px 0;
        }

        .image-wrapper {
            width: 100%;
            height: 611px;
            margin: 50px 0;
            background-color: #a8a8a8;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        .article-date-wrapper {
            width: 100%;
            height: auto;
            display: flex;
            justify-content: space-between;
            align-items: center;
            border-bottom: 2px solid #0e0e01;
        }
    }

    .section-bottom {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        text-align: left;
        padding: 70px 200px 70px 0;
        color: #0e0e01;
        font-family: 'Larsseit' !important;
        font-size: 1.5rem;

        .first-letter {
            font-size: 4.5rem;
            margin-right: 5px;
            margin-top: -17px;
        }

        .article-content {
            width: 100%;

            img {
                @apply w-full h-auto;
            }
        }
    }
}