<section class='w-100 m-0'>
    <!-- Title -->
    <h1>
        {{ 'home.section.title.projects-L1' | translate }}<br>
        {{ 'home.section.title.projects-L2-bf' | translate }}
        <span *ngIf="currentLanguage === 'en'"> &#38; </span>
        {{ 'home.section.title.projects-L2-af' | translate }}
    </h1>
    <!-- Sorting buttons -->
    <div class="sort-button-container">
        <button class="sort-button" (click)="sortProjects('software')"
            [ngClass]="{'selected': (selectedFilter$ | async) === 'software'}">
            Software
            <i class="bi" [ngClass]="{
                'bi-chevron-down': (selectedFilter$ | async) !== 'software',
                'bi-x': (selectedFilter$ | async) === 'software'
            }"></i>
        </button>
        <button class="sort-button" (click)="sortProjects('website')"
            [ngClass]="{'selected': (selectedFilter$ | async) === 'website'}">
            Websites
            <i class="bi" [ngClass]="{
                'bi-chevron-down': (selectedFilter$ | async) !== 'website',
                'bi-x': (selectedFilter$ | async) === 'website'
            }"></i>
        </button>
        <button class="sort-button" (click)="sortProjects('app')"
            [ngClass]="{'selected': (selectedFilter$ | async) === 'app'}">
            Apps
            <i class="bi" [ngClass]="{
                'bi-chevron-down': (selectedFilter$ | async) !== 'app',
                'bi-x': (selectedFilter$ | async) === 'app'
            }"></i>
        </button>
        <button class="sort-button" [routerLink]="['/projects']" (click)="sortProjects('all')">
            View all works
            <i class="bi bi-arrow-right-short"></i>
        </button>
    </div>
    <span class="separator"></span>
    <!-- Project cards -->
    <app-project-card *ngIf="filteredProjects$ | async as filteredProjects"
        [projects]="filteredProjects | slice:0:6"></app-project-card>
    <!-- Footer -->
    <div class="footer-button-wrapper">
        <button class="footer-button" [routerLink]="['/projects']" (click)="sortProjects('all')">
            View all works
            <i class="bi bi-arrow-right-short"></i>
        </button>
    </div>
    <span class="separator"></span>
</section>