<div class="project-card-container container-fluid">
    <div class="row row-cols-1 row-cols-md-3 custom-gutter">
        <!-- First Column -->
        <div class="col">
            <div class="card-container">
                <!-- Image -->
                <div class="image-wrapper">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/c8/Altja_j%C3%B5gi_Lahemaal.jpg/800px-Altja_j%C3%B5gi_Lahemaal.jpg"
                        alt="project">
                </div>
                <!-- Title -->
                <p>Creating an industry first, 3-step booking system for an Australasian EAP provider</p>
            </div>
        </div>
        <!-- Second Column -->
        <div class="col">
            <div class="card-container">
                <!-- Image -->
                <div class="image-wrapper">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/c8/Altja_j%C3%B5gi_Lahemaal.jpg/800px-Altja_j%C3%B5gi_Lahemaal.jpg"
                        alt="project">
                </div>
                <!-- Title -->
                <p>Creating an industry first, 3-step booking system for an Australasian EAP provider</p>
            </div>
        </div>
        <!-- Third Column -->
        <div class="col">
            <div class="card-container">
                <!-- Image -->
                <div class="image-wrapper">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/c8/Altja_j%C3%B5gi_Lahemaal.jpg/800px-Altja_j%C3%B5gi_Lahemaal.jpg"
                        alt="project">
                </div>
                <!-- Title -->
                <p>Creating an industry first, 3-step booking system for an Australasian EAP provider</p>
            </div>
        </div>
    </div>
</div>