<div class='w-100 m-0'>
    <!-- Header -->
    <section class="header-section">
        <p class="header-text">
            Perpetua is an integrated software development studio creating beautiful
            websites, software & applications for our clients and their customers.
        </p>
        <p class="header-text">
            Simplicity, beauty, & attention to detail—these values underpin all that we
            do, and continue to guide our talented, international team in creating the
            best software in the world.
        </p>
    </section>
    <!-- Location -->
    <section class="location-section">
        <h1>Our locations</h1>
        <menu>
            <li *ngFor="let location of locations" class="location-button">
                {{ location }}
                <i class="bi bi-arrow-up-short location-icon"></i>
            </li>
        </menu>
        <div class="row row-cols-1 row-cols-md-2 g-4">
            <div *ngFor="let office of offices" class="col">
                <app-location-card [office]="office"></app-location-card>
            </div>
        </div>
    </section>
    <div class="contact-button-wrapper">
        <button class="contact-button" routerLink="/contact">
            Contact us
            <i class="bi bi-arrow-right-short contact-icon"></i>
        </button>
    </div>
    <!-- Clients -->
    <section class="client-section">
        <h1 class="sub-title">Our clients</h1>
        <app-client-block [clients]="clients"></app-client-block>
    </section>
    <!-- Team -->
    <section class="team-section">
        <h1 class="sub-title">Our team</h1>
        <menu>
            <li *ngFor="let member of memberNames" class="member-button">
                {{ member }}
                <i class="bi bi-arrow-right-short"></i>
            </li>
        </menu>
        <app-staff-card [members]="members"></app-staff-card>
    </section>
    <!-- Call to action -->
    <app-call-action></app-call-action>
</div>