<div id="aboutUs" class='w-100 m-0'>
    <!-- Header -->
    <section class="header-section">
        <p class="header-text">{{ 'about.description.P1' | translate }}</p>
        <p class="header-text">{{ 'about.description.P2' | translate }}</p>
    </section>
    <!-- Location -->
    <section id="aboutLocations" class="location-section">
        <h1>{{ 'contact.nav.locations' | translate }}</h1>
        <menu>
            <li *ngFor="let location of locations" class="location-button">
                {{ location }}
                <i class="bi bi-arrow-up-short menu-icon"></i>
            </li>
        </menu>
        <div class="row row-cols-1 row-cols-md-2 g-4">
            <div *ngFor="let office of offices" class="col">
                <app-location-card [office]="office"></app-location-card>
            </div>
        </div>
    </section>
    <div class="contact-button-wrapper">
        <button class="contact-button" routerLink="/contact">
            {{ 'contact.nav.us' | translate }}
            <i class="bi bi-arrow-right-short contact-icon"></i>
        </button>
    </div>
    <!-- Clients -->
    <section id="aboutClients" class="client-section">
        <h1 class="sub-title">{{ 'clients.our-clients' | translate }}</h1>
        <app-client-block [clients]="clients"></app-client-block>
    </section>
    <!-- Team -->
    <section id="aboutTeam" class="team-section">
        <h1 class="sub-title">{{ 'team.our-team' | translate }}</h1>
        <ng-container *ngIf="members.length > 0">
            <app-staff-card [members]="members"></app-staff-card>
        </ng-container>
        <div class=" footer-button-wrapper" [routerLink]="['/team']">
            <button class="footer-button">
                {{ 'team.all' | translate }}
                <i class="bi bi-arrow-right-short"></i>
            </button>
        </div>
        <span class="separator"></span>
    </section>
    <!-- Careers -->
    <section id="aboutCareers" class="careers-section">
        <div class="sub-title-container">
            <h1 class="sub-title">{{ 'contact.nav.career' | translate }}</h1>
            <p>{{ 'about.careers.header' | translate }}</p>
        </div>
        <ng-container *ngIf="careers.length > 0">
            <app-career-card></app-career-card>
        </ng-container>
    </section>
</div>