<section class='w-100 m-0'>
    <div class="section-large">
        <div class="image-wrapper">
            <img *ngIf="project?.thumbnail_image; else fallbackImage" [src]="project?.thumbnail_image?.url"
                [alt]="project?.project_title || 'No Title Available'" />
            <ng-template #fallbackImage>
                <img src="../../../assets/images/img_n.a.png" alt="No Available" />
            </ng-template>
        </div>
        <div class="comment-wrapper">
            <p>Example text discussing the project and the need OCP had to connect with their customers, essentially why
                this had to be developed. Discuss the problem OCP faced in detail.</p>
            <i class="bi bi-chevron-down"></i>
        </div>
        <div class="image-wrapper">
            <img *ngIf="project?.thumbnail_image; else fallbackImage" [src]="project?.thumbnail_image?.url"
                [alt]="project?.project_title || 'No Title Available'" />
        </div>
    </div>
    <div class="section-small">
        <div class="comment-wrapper sub-comment-wrapper">
            <p>Example text discussing the project and the need OCP had to connect with their customers, essentially why
                this had to be developed. Discuss the problem OCP faced in detail.</p>
            <i class="bi bi-chevron-down"></i>
        </div>
        <div class="image-wrapper grid">
            <div class="row row-cols-md-2">
                <div class="col">
                    <img *ngIf="project?.thumbnail_image; else fallbackImage" [src]="project?.thumbnail_image?.url"
                        [alt]="project?.project_title || 'No Title Available'" />
                </div>
                <div class="col">
                    <img *ngIf="project?.thumbnail_image; else fallbackImage" [src]="project?.thumbnail_image?.url"
                        [alt]="project?.project_title || 'No Title Available'" />
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <img *ngIf="project?.thumbnail_image; else fallbackImage" [src]="project?.thumbnail_image?.url"
                        [alt]="project?.project_title || 'No Title Available'" />
                </div>
            </div>
        </div>
    </div>
    <div class="section-large">
        <div class="comment-wrapper right-comment-wrapper">
            <p>Example text discussing the project and the need OCP had to connect with their customers, essentially why
                this had to be developed. Discuss the problem OCP faced in detail.</p>
        </div>
        <div class="image-wrapper">
            <img *ngIf="project?.thumbnail_image; else fallbackImage" [src]="project?.thumbnail_image?.url"
                [alt]="project?.project_title || 'No Title Available'" />
        </div>
    </div>
    <div class="section-small">
        <div class="comment-wrapper sub-comment-wrapper">
            <p>Example text discussing the project and the need OCP had to connect with their customers, essentially why
                this had to be developed. Discuss the problem OCP faced in detail.</p>
            <i class="bi bi-chevron-down"></i>
        </div>
        <div class="image-wrapper">
            <img *ngIf="project?.thumbnail_image; else fallbackImage" [src]="project?.thumbnail_image?.url"
                [alt]="project?.project_title || 'No Title Available'" />
        </div>
    </div>
</section>