section {
    padding: 15px;

    .section-large {
        width: 100%;

        .right-comment-wrapper {
            margin-left: 50%;
            max-width: 523px;
            font-family: 'Sohne' !important;
            font-size: 1.5rem;
        }
    }

    .image-wrapper {
        width: 100%;
        height: 858px;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    .comment-wrapper {
        margin: 60px 0 40px 102px;
        max-width: 523px;
        font-family: 'Sohne' !important;
        font-size: 1.5rem;

        i {
            font-size: 2rem;
            padding-top: 5px;
            transition: transform 0.1s ease;
        }
    }

    .grid {
        display: grid;
        height: auto;
        column-gap: 15px;
        row-gap: 15px;

        .row {
            width: auto;
            height: 530px;
            padding: 0;
        }

        .col {
            max-height: 530px;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }

    .section-small {
        padding: 50px 102px;

        .sub-comment-wrapper {
            margin-left: 0;
        }
    }
}