h1 {
    padding: 79px 0 35px 65px;
    margin: 0;
}

.location-section {
    .links-and-time {
        width: 100%;
        padding: 0 65px;
        margin: 0 0 37px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        menu {
            display: flex;
            align-items: center;
            width: 100%;
            padding: 0;
            margin: 0;
            color: #000000;
            font-size: 1.5rem;

            .location-button {
                list-style: none;
                margin-right: 65px;
                cursor: pointer;
            }

            .menu-icon {
                transform: rotate(45deg);
                display: inline-block;
                margin: -5px;
            }
        }

        .time {
            display: flex;
            font-size: 1.5rem;
            margin: 0;

            .colon {
                animation: blink 1s infinite;
                vertical-align: 2px;
            }

            @keyframes blink {
                0% {
                    opacity: 1;
                }

                50% {
                    opacity: 0;
                }

                100% {
                    opacity: 1;
                }
            }
        }
    }

    .image-wrapper {
        width: 100%;
        height: auto;
        padding: 15px;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}