p {
    padding: 0;
    margin: 0;
    font-family: 'Sohne' !important;
    font-size: 1.5rem;
    color: #0e0e01;
}

.card-container {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    padding: 65px 0 0 65px;
    border-top: 2px solid #989898;

    .office_info_container {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        padding-bottom: 62.32px;
    }

    .container_left {
        min-width: 334px;
        margin-right: 110px;


        .job-title-wrapper {
            width: auto;
            height: fit-content;
            display: flex;
            justify-content: flex-start;
            align-items: center;

            .job-title {
                font-family: 'Sohne-500' !important;
                color: #000000;
                font-size: 2.25rem;
                margin: 0;
            }

            .location-icon {
                font-size: 3.25rem;
                transform: rotate(45deg);
                display: inline-block;
            }
        }

        .job-location {
            font-size: 1.75rem;
            margin: 16px 0 24px 0;
        }
    }

    .container_right {
        width: 450px;

        .branch-name {
            font-family: 'Sohne-500' !important;
            font-size: 1.5rem;
            margin: 15px 0 15px;
        }
    }

    .footer-button-wrapper {
        width: 100%;
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;

        .footer-button {
            display: flex;
            justify-content: start;
            align-items: center;
            color: #0e0e01;
            padding: 0;
            margin: 0 9px 1.7px 120px;
            border: none;
            background-color: transparent;
            font-family: 'Sohne-500' !important;
            font-size: 1.75rem;

            i {
                font-size: 2rem;
                margin-left: 0.5px;
                padding-top: 5px;
                transition: transform 0.3s ease;
                position: relative;
            }

            &:hover {
                color: #a8a8a8;
            }

            &:hover .bi-arrow-right-short {
                transform: translateX(2px);
                color: #a8a8a8;
            }
        }
    }
}