<div class="logo" routerLink="/">
</div>

<style>
    .logo {
        position: relative;
        width: 40px;
        height: 40px;
        color: #fff;
    }

    .logo::before,
    .logo::after {
        opacity: 0;
        content: "";
        position: absolute;
        inset: 0;
        background: linear-gradient(90deg, #00ffbbdf, #00FFB9, #0BB9D2, #0BB3CD, #0BA4C0, #0C8AAB, #0D678D, #0E5A82, #0D678D, #0C8AAB, #0BA4C0, #0BB3CD, #0BB9D2, #00FFB9, #00ffbbdf);
        background-size: 500%;
        transition: transform 0.3s ease, color 0.3s ease, opacity 0.3s ease;
    }

    .logo::after {
        filter: blur(20px);
    }

    .logo:hover::before,
    .logo:hover::after {
        opacity: 1;
        animation: animate 8s linear infinite;
    }

    @keyframes animate {
        0% {
            background-position: 0 0;
        }

        0% {
            background-position: 500% 0;
        }
    }
</style>