<section class='w-100 m-0'>
    <div class="call-container">
        <!-- Message -->
        <h1>
            We connect great businesses to their customers<br />through the power of technology
        </h1>
        <!-- Call to action -->
        <div class="footer-button-wrapper" [routerLink]="['/contact']">
            <button class="footer-button">
                <p>Let's make something together</p>
                <i class="bi bi-arrow-right-short"></i>
            </button>
        </div>
    </div>
</section>