.call-container {
    width: 100%;
    height: auto;
    padding: 0 15px 0 60px;

    h1 {
        margin: 82.2px 0 0 0;
        height: 92px;
    }

    .footer-button-wrapper {
        width: 100%;
        display: flex;
        justify-content: start;
        padding: 0;
        margin: -6px 0 67.8px;

        .footer-button {
            display: flex;
            justify-content: start;
            align-items: center;
            margin: 0 0 0 -2.3px;
            padding: 0;
            border: none;
            background-color: transparent;
            cursor: pointer;

            p {
                margin: 0;
                font-family: 'Sohne' !important;
                font-size: 2.25rem;
                background: linear-gradient(90deg, #00FFB9, #00FFB9, #0BB9D2, #0BB3CD, #0BA4C0, #0C8AAB, #0D678D, #0E5A82);
                background-clip: value;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
            }

            i {
                color: #0E5A82;
                font-size: 2.813rem;
                font-weight: 800;
                margin-top: 8px;
                margin-left: -1.5px;
                transition: transform 0.3s ease;
            }

            &:hover .bi-arrow-right-short {
                transform: translateX(2px);
            }
        }
    }

}