<div class="side-menu-container">
    <!-- Hamburger menu button -->
    <button type="button" class="toggle-icon" (click)="toggleMenu()" aria-label="Toggle Menu">
        <span class="bar bar-top" [ngClass]="{'rotate-top': isMenuOpen}"></span>
        <span class="bar bar-mid" [ngClass]="{'fade-out': isMenuOpen}"></span>
        <span class="bar bar-btm" [ngClass]="{'rotate-bottom': isMenuOpen}"></span>
    </button>

    <!-- Side menu -->
    <div class="side-menu" [ngClass]="{'visible': isMenuOpen}">
        <nav>
            <ul>
                <li class="menu-item" routerLink="/projects">{{ 'menu.home' | translate }}</li>
                <li class="menu-item" routerLink="/projects">{{ 'menu.projects' | translate }}</li>
                <li class="menu-item" routerLink="/services">{{ 'menu.services' | translate }}</li>
                <li class="menu-item" routerLink="/about">{{ 'menu.about' | translate }}</li>
                <li class="menu-item" routerLink="/articles">{{ 'menu.blog' | translate }}</li>
                <li class="menu-item" routerLink="/contact">{{ 'menu.contact' | translate }}</li>
            </ul>
        </nav>
        <div class="lang-container">
            <p>Language</p>
            <app-language-footer></app-language-footer>
        </div>
    </div>
</div>