.side-menu-container {
    position: relative;

    .toggle-icon {
        position: relative;
        width: 28px;
        height: 23px;
        padding: 3px;
        margin-right: 12px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        cursor: pointer;
        background-color: transparent;
        border: none;
        z-index: 1001;

        .bar {
            width: 100%;
            height: 2px;
            background-color: #ffffff;
            transition: all 0.2s ease-in-out;
        }

        .rotate-top {
            transform: rotate(45deg) translate(5px, 5px);
        }

        .fade-out {
            opacity: 0;
        }

        .rotate-bottom {
            transform: rotate(-45deg) translate(5px, -5px);
        }
    }

    .side-menu {
        position: fixed;
        top: 0;
        right: -250px;
        width: 250px;
        height: 100vh;
        background-color: #0e0e01;
        color: #ffffff;
        z-index: 1000;
        transition: right 0.3s ease;

        &.visible {
            right: 0;
        }

        nav {
            margin: 100px 15px;
        }

        ul {
            list-style: none;
            padding: 0;

            .menu-item {
                font-family: 'Larsseit' !important;
                font-size: 1.5rem;
                margin: 25px 0;
                cursor: pointer;
                transition: color 0.2s ease;
            }
        }

        .lang-container {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
            margin: 15px;

            p {
                font-family: 'Larsseit' !important;
                font-size: 1.5rem;
                color: #8a8a8a;
                margin: 25px 0;
            }
        }
    }
}